
deliverables/

Sounds/

CurrencyConverter/.idea/

CurrencyConverter/app/build.gradle

CurrencyConverter/app/proguard-rules.pro


CurrencyConverter/app/src/androidTest/

CurrencyConverter/app/src/main/res/

CurrencyConverter/app/src/test/

CurrencyConverter/gradle/

CurrencyConverter/build.gradle

CurrencyConverter/gradle.properties

CurrencyConverter/gradlew

CurrencyConverter/gradlew.bat

CurrencyConverter/settings.gradle

SumAndMinusGame/gradle/

SumAndMinusGame/app/src/main/res/

SumAndMinusGame/app/src/

SumAndMinusGame/

ListViewTest/app/

ListViewTest/

CurrencyConverter/

DemoApp/

ExampleProject/
