
CurrencyConverter/app/src/main/res/drawable/

CurrencyConverter/app/src/main/res/drawable-v24/

CurrencyConverter/app/src/main/res/mipmap-anydpi-v26/

CurrencyConverter/app/src/test/

CurrencyConverter/app/src/androidTest/

deliverables/

Sounds/

CurrencyConverter/app/src/main/res/mipmap-hdpi/

CurrencyConverter/app/src/main/res/mipmap-mdpi/

CurrencyConverter/app/src/main/res/mipmap-xhdpi/

CurrencyConverter/app/src/main/res/mipmap-xxhdpi/

CurrencyConverter/app/src/main/res/mipmap-xxxhdpi/

CurrencyConverter/app/src/main/res/values/

CurrencyConverter/.idea/

CurrencyConverter/app/build.gradle

CurrencyConverter/app/proguard-rules.pro

CurrencyConverter/
